<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>first_payment_btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1583},{290,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{290,83}}</string>
			<key>sourceSize</key>
			<string>{290,83}</string>
		</dict>
		<key>first_payment_coins_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{83,1425},{306,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{306,156}}</string>
			<key>sourceSize</key>
			<string>{306,156}</string>
		</dict>
		<key>first_payment_coins_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{399,1327},{369,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{369,156}}</string>
			<key>sourceSize</key>
			<string>{369,156}</string>
		</dict>
		<key>first_payment_coins_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{399,891},{434,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{434,156}}</string>
			<key>sourceSize</key>
			<string>{434,156}</string>
		</dict>
		<key>first_payment_coins_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{241,891},{525,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{525,156}}</string>
			<key>sourceSize</key>
			<string>{525,156}</string>
		</dict>
		<key>first_payment_coins_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{83,891},{532,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{532,156}}</string>
			<key>sourceSize</key>
			<string>{532,156}</string>
		</dict>
		<key>first_payment_content_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,891},{638,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{638,79}}</string>
			<key>sourceSize</key>
			<string>{638,79}</string>
		</dict>
		<key>first_payment_content_btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,1583},{138,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,62}}</string>
			<key>sourceSize</key>
			<string>{138,62}</string>
		</dict>
		<key>first_payment_dialog.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{887,588}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{887,588}}</string>
			<key>sourceSize</key>
			<string>{887,588}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>first_payment.pvr</string>
		<key>size</key>
		<string>{592,1723}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:92c4bcf2c518f18b5c3f82b561c792dc:1/1$</string>
		<key>textureFileName</key>
		<string>first_payment.pvr</string>
	</dict>
</dict>
</plist>
