<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>aladdin_pot_anim_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{172,477}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{477,172}}</string>
			<key>sourceSize</key>
			<string>{172,477}</string>
		</dict>
		<key>aladdin_pot_anim_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,478},{172,477}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{477,172}}</string>
			<key>sourceSize</key>
			<string>{172,477}</string>
		</dict>
		<key>aladdin_pot_anim_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,478},{172,477}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{477,172}}</string>
			<key>sourceSize</key>
			<string>{172,477}</string>
		</dict>
		<key>aladdin_pot_anim_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,0},{172,477}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{477,172}}</string>
			<key>sourceSize</key>
			<string>{172,477}</string>
		</dict>
		<key>aladdin_pot_anim_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,0},{172,477}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{477,172}}</string>
			<key>sourceSize</key>
			<string>{172,477}</string>
		</dict>
		<key>aladdin_pot_anim_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{519,0},{172,477}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{477,172}}</string>
			<key>sourceSize</key>
			<string>{172,477}</string>
		</dict>
		<key>aladdin_pot_anim_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{519,0},{172,477}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{477,172}}</string>
			<key>sourceSize</key>
			<string>{172,477}</string>
		</dict>
		<key>aladdin_pot_anim_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{519,0},{172,477}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{477,172}}</string>
			<key>sourceSize</key>
			<string>{172,477}</string>
		</dict>
		<key>aladdin_pot_anim_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{519,0},{172,477}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{477,172}}</string>
			<key>sourceSize</key>
			<string>{172,477}</string>
		</dict>
		<key>aladdin_water_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{692,0},{104,359}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{359,104}}</string>
			<key>sourceSize</key>
			<string>{104,359}</string>
		</dict>
		<key>aladdin_water_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{797,0},{104,359}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{359,104}}</string>
			<key>sourceSize</key>
			<string>{104,359}</string>
		</dict>
		<key>aladdin_water_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{902,0},{104,359}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{359,104}}</string>
			<key>sourceSize</key>
			<string>{104,359}</string>
		</dict>
		<key>aladdin_water_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{902,360},{104,359}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{359,104}}</string>
			<key>sourceSize</key>
			<string>{104,359}</string>
		</dict>
		<key>aladdin_water_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{797,360},{104,359}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{359,104}}</string>
			<key>sourceSize</key>
			<string>{104,359}</string>
		</dict>
		<key>aladdin_water_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{902,360},{104,359}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{359,104}}</string>
			<key>sourceSize</key>
			<string>{104,359}</string>
		</dict>
		<key>aladdin_water_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{797,360},{104,359}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{359,104}}</string>
			<key>sourceSize</key>
			<string>{104,359}</string>
		</dict>
		<key>aladdin_water_flower_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,956},{57,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,57}}</string>
			<key>sourceSize</key>
			<string>{57,58}</string>
		</dict>
		<key>aladdin_water_flower_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,956},{57,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,57}}</string>
			<key>sourceSize</key>
			<string>{57,58}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>aladdin_collection.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>aladdin_collection.png</string>
	</dict>
</dict>
</plist>
