<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hot_wild_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{116,40}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,87},{116,40}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>hot_wild_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{114,38}}</string>
                <key>offset</key>
                <string>{-1,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,87},{114,38}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>hot_wild_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,236},{114,38}}</string>
                <key>offset</key>
                <string>{-1,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,87},{114,38}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>hot_wild_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{114,38}}</string>
                <key>offset</key>
                <string>{-1,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,87},{114,38}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>hot_wild_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{114,38}}</string>
                <key>offset</key>
                <string>{-1,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,87},{114,38}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>hot_wild_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{118,48}}</string>
                <key>offset</key>
                <string>{1,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,77},{118,48}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>hot_wild_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,50}}</string>
                <key>offset</key>
                <string>{1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,75},{120,50}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>hot_wild_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{116,48}}</string>
                <key>offset</key>
                <string>{-1,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,77},{116,48}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>hot_wild_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{118,50}}</string>
                <key>offset</key>
                <string>{1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,75},{118,50}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>hot_wild_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,98},{116,48}}</string>
                <key>offset</key>
                <string>{-1,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,77},{116,48}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>hot_wild_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,276},{48,22}}</string>
                <key>offset</key>
                <string>{-24,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,96},{48,22}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>hot_wild_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,476},{80,34}}</string>
                <key>offset</key>
                <string>{-17,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,90},{80,34}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>hot_wild_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,386},{88,42}}</string>
                <key>offset</key>
                <string>{-18,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,86},{88,42}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>hot_wild_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{108,44}}</string>
                <key>offset</key>
                <string>{-6,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,84},{108,44}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>hot_wild_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,276},{108,42}}</string>
                <key>offset</key>
                <string>{-4,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,85},{108,42}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>hot_wild_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,190},{114,44}}</string>
                <key>offset</key>
                <string>{-1,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,84},{114,44}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>hot_wild_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,54},{118,42}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,86},{118,42}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>hot_wild_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,148},{116,40}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,87},{116,40}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hotwild.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2df3daa8764e4cb74c92539b7305f26$</string>
            <key>textureFileName</key>
            <string>hotwild.png</string>
        </dict>
    </dict>
</plist>
