<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>smoke3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,950},{178,34}}</string>
                <key>offset</key>
                <string>{10,-209}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,512},{178,34}}</string>
                <key>sourceSize</key>
                <string>{398,640}</string>
            </dict>
            <key>smoke3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,712},{274,464}}</string>
                <key>offset</key>
                <string>{16,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,72},{274,464}}</string>
                <key>sourceSize</key>
                <string>{398,640}</string>
            </dict>
            <key>smoke3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{342,462}}</string>
                <key>offset</key>
                <string>{16,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,74},{342,462}}</string>
                <key>sourceSize</key>
                <string>{398,640}</string>
            </dict>
            <key>smoke3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,302},{322,460}}</string>
                <key>offset</key>
                <string>{16,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,73},{322,460}}</string>
                <key>sourceSize</key>
                <string>{398,640}</string>
            </dict>
            <key>smoke3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,486},{328,460}}</string>
                <key>offset</key>
                <string>{28,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,74},{328,460}}</string>
                <key>sourceSize</key>
                <string>{398,640}</string>
            </dict>
            <key>smoke3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,264},{328,446}}</string>
                <key>offset</key>
                <string>{28,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,88},{328,446}}</string>
                <key>sourceSize</key>
                <string>{398,640}</string>
            </dict>
            <key>smoke3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,302},{296,176}}</string>
                <key>offset</key>
                <string>{26,-193}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,425},{296,176}}</string>
                <key>sourceSize</key>
                <string>{398,640}</string>
            </dict>
            <key>smoke3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,264},{398,328}}</string>
                <key>offset</key>
                <string>{0,-148}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,304},{398,328}}</string>
                <key>sourceSize</key>
                <string>{398,640}</string>
            </dict>
            <key>smoke3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,248},{344,378}}</string>
                <key>offset</key>
                <string>{6,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,233},{344,378}}</string>
                <key>sourceSize</key>
                <string>{398,640}</string>
            </dict>
            <key>smoke3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{260,500}}</string>
                <key>offset</key>
                <string>{25,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,87},{260,500}}</string>
                <key>sourceSize</key>
                <string>{398,640}</string>
            </dict>
            <key>smoke3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,2},{244,514}}</string>
                <key>offset</key>
                <string>{12,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,73},{244,514}}</string>
                <key>sourceSize</key>
                <string>{398,640}</string>
            </dict>
            <key>smoke3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,764},{236,552}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,43},{236,552}}</string>
                <key>sourceSize</key>
                <string>{398,640}</string>
            </dict>
            <key>smoke3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{348,482}}</string>
                <key>offset</key>
                <string>{13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,74},{348,482}}</string>
                <key>sourceSize</key>
                <string>{398,640}</string>
            </dict>
            <key>smoke3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{298,500}}</string>
                <key>offset</key>
                <string>{25,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,72},{298,500}}</string>
                <key>sourceSize</key>
                <string>{398,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>smoke3.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:671dd0451f93baaf3157bc9bfe8677c4$</string>
            <key>textureFileName</key>
            <string>smoke3.png</string>
        </dict>
    </dict>
</plist>
