<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>big_win_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{458,145}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,25},{458,145}}</string>
                <key>sourceSize</key>
                <string>{518,207}</string>
            </dict>
            <key>big_win_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{458,147}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,23},{458,147}}</string>
                <key>sourceSize</key>
                <string>{518,207}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bigwin.png</string>
            <key>size</key>
            <string>{922,151}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d11efd784d1e778f238437362c68d3b3$</string>
            <key>textureFileName</key>
            <string>bigwin.png</string>
        </dict>
    </dict>
</plist>
