<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>circus_texiao_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,1022},{196,494}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{470,72},{196,494}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>circus_texiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,2},{196,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{470,77},{196,486}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>circus_texiao_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{236,526}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{449,57},{236,526}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>circus_texiao_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,552},{240,534}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,52},{240,534}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>circus_texiao_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1138},{242,542}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,49},{242,542}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>circus_texiao_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{246,548}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{446,45},{246,548}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>circus_texiao_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,582},{252,554}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,42},{252,554}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>circus_texiao_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1728},{256,558}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{441,40},{256,558}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>circus_texiao_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1156},{248,564}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,36},{248,564}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>circus_texiao_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1156},{254,570}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{441,33},{254,570}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>circus_texiao_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{260,572}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,34},{260,572}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>circus_texiao_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{268,578}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,31},{268,578}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>circus_texiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{204,486}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{465,78},{204,486}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>circus_texiao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,1518},{208,460}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{463,79},{208,460}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>circus_texiao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1596},{210,450}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{464,90},{210,450}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>circus_texiao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1682},{214,332}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{461,147},{214,332}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>circus_texiao_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,522},{220,492}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{458,71},{220,492}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>circus_texiao_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,522},{222,498}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,72},{222,498}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>circus_texiao_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1088},{224,506}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,68},{224,506}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>circus_texiao_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{232,518}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{451,62},{232,518}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>circus_frame_texiao.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8228fe0601c68dc05314058222909e80:1/1$</string>
            <key>textureFileName</key>
            <string>circus_frame_texiao.png</string>
        </dict>
    </dict>
</plist>
