<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coin_anim_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,380},{190,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,187}}</string>
                <key>sourceSize</key>
                <string>{190,187}</string>
            </dict>
            <key>coin_anim_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,380},{190,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,187}}</string>
                <key>sourceSize</key>
                <string>{190,187}</string>
            </dict>
            <key>coin_anim_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,764},{190,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,187}}</string>
                <key>sourceSize</key>
                <string>{190,187}</string>
            </dict>
            <key>coin_anim_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,572},{190,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,187}}</string>
                <key>sourceSize</key>
                <string>{190,187}</string>
            </dict>
            <key>coin_anim_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,380},{190,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,187}}</string>
                <key>sourceSize</key>
                <string>{190,187}</string>
            </dict>
            <key>coin_anim_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,191},{190,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,187}}</string>
                <key>sourceSize</key>
                <string>{190,187}</string>
            </dict>
            <key>coin_anim_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,191},{190,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,187}}</string>
                <key>sourceSize</key>
                <string>{190,187}</string>
            </dict>
            <key>coin_anim_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,191},{190,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,187}}</string>
                <key>sourceSize</key>
                <string>{190,187}</string>
            </dict>
            <key>coin_anim_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,191},{190,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,187}}</string>
                <key>sourceSize</key>
                <string>{190,187}</string>
            </dict>
            <key>coin_anim_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,767},{190,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,187}}</string>
                <key>sourceSize</key>
                <string>{190,187}</string>
            </dict>
            <key>coin_anim_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,575},{190,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,187}}</string>
                <key>sourceSize</key>
                <string>{190,187}</string>
            </dict>
            <key>coin_anim_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,764},{190,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,187}}</string>
                <key>sourceSize</key>
                <string>{190,187}</string>
            </dict>
            <key>coin_anim_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,383},{190,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,187}}</string>
                <key>sourceSize</key>
                <string>{190,187}</string>
            </dict>
            <key>coin_anim_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{190,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,187}}</string>
                <key>sourceSize</key>
                <string>{190,187}</string>
            </dict>
            <key>coin_anim_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{190,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,187}}</string>
                <key>sourceSize</key>
                <string>{190,187}</string>
            </dict>
            <key>coin_anim_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{190,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,187}}</string>
                <key>sourceSize</key>
                <string>{190,187}</string>
            </dict>
            <key>coin_anim_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{190,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,187}}</string>
                <key>sourceSize</key>
                <string>{190,187}</string>
            </dict>
            <key>coin_anim_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{190,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,187}}</string>
                <key>sourceSize</key>
                <string>{190,187}</string>
            </dict>
            <key>coin_anim_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,187}}</string>
                <key>sourceSize</key>
                <string>{190,187}</string>
            </dict>
            <key>coin_anim_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,380},{190,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,187}}</string>
                <key>sourceSize</key>
                <string>{190,187}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coin_anim.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b4a473503486d145916c58213e1d6be:1/1$</string>
            <key>textureFileName</key>
            <string>coin_anim.png</string>
        </dict>
    </dict>
</plist>
