<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>big_win_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{788,360}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{788,360}}</string>
                <key>sourceSize</key>
                <string>{788,362}</string>
            </dict>
            <key>box_4_row.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,631},{131,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,123}}</string>
                <key>sourceSize</key>
                <string>{131,123}</string>
            </dict>
            <key>item_hl.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,488},{146,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,141}}</string>
                <key>sourceSize</key>
                <string>{146,141}</string>
            </dict>
            <key>level_up_bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,62},{201,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,151}}</string>
                <key>sourceSize</key>
                <string>{201,151}</string>
            </dict>
            <key>level_up_starburst_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,404},{400,398}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,398}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>level_up_starburst_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>leveup_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,343},{165,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,58}}</string>
                <key>sourceSize</key>
                <string>{165,58}</string>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,343},{176,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,74}}</string>
                <key>sourceSize</key>
                <string>{176,74}</string>
            </dict>
            <key>paytable_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{208,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,58}}</string>
                <key>sourceSize</key>
                <string>{208,58}</string>
            </dict>
            <key>paytable_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,768},{51,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,58}}</string>
                <key>sourceSize</key>
                <string>{51,58}</string>
            </dict>
            <key>paytable_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,768},{51,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,58}}</string>
                <key>sourceSize</key>
                <string>{51,58}</string>
            </dict>
            <key>rank_king_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,279},{199,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,62}}</string>
                <key>sourceSize</key>
                <string>{199,62}</string>
            </dict>
            <key>rank_king_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,215},{199,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,62}}</string>
                <key>sourceSize</key>
                <string>{199,62}</string>
            </dict>
            <key>rank_king_pan.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,419},{175,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,67}}</string>
                <key>sourceSize</key>
                <string>{175,67}</string>
            </dict>
            <key>rank_king_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,510},{256,92}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{256,92}}</string>
                <key>sourceSize</key>
                <string>{260,94}</string>
            </dict>
            <key>slot_unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{370,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,24}}</string>
                <key>sourceSize</key>
                <string>{370,24}</string>
            </dict>
            <key>wild_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,768},{138,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{138,48}}</string>
                <key>sourceSize</key>
                <string>{138,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{1020,830}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9cd4659ed4ee7e9ec245570c53a82aa$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
