<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,148},{58,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,73}}</string>
                <key>sourceSize</key>
                <string>{58,73}</string>
            </dict>
            <key>arrow_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,146},{58,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,73}}</string>
                <key>sourceSize</key>
                <string>{58,73}</string>
            </dict>
            <key>avatar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{271,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,82}}</string>
                <key>sourceSize</key>
                <string>{271,82}</string>
            </dict>
            <key>bonus_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,282},{261,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,11}}</string>
                <key>sourceSize</key>
                <string>{261,11}</string>
            </dict>
            <key>bonus_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,269},{261,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,11}}</string>
                <key>sourceSize</key>
                <string>{261,11}</string>
            </dict>
            <key>bonus_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,256},{261,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,11}}</string>
                <key>sourceSize</key>
                <string>{261,11}</string>
            </dict>
            <key>bonus_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,243},{261,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,11}}</string>
                <key>sourceSize</key>
                <string>{261,11}</string>
            </dict>
            <key>bonus_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,230},{261,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,11}}</string>
                <key>sourceSize</key>
                <string>{261,11}</string>
            </dict>
            <key>bonus_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,48},{261,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,11}}</string>
                <key>sourceSize</key>
                <string>{261,11}</string>
            </dict>
            <key>collect_bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,59},{266,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,82}}</string>
                <key>sourceSize</key>
                <string>{266,82}</string>
            </dict>
            <key>coming_soon.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,2},{86,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,101}}</string>
                <key>sourceSize</key>
                <string>{86,101}</string>
            </dict>
            <key>credits_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2},{295,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,55}}</string>
                <key>sourceSize</key>
                <string>{295,55}</string>
            </dict>
            <key>free_coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{261,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,77}}</string>
                <key>sourceSize</key>
                <string>{261,77}</string>
            </dict>
            <key>gems_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,246},{203,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,55}}</string>
                <key>sourceSize</key>
                <string>{203,55}</string>
            </dict>
            <key>head_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,148},{77,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,74}}</string>
                <key>sourceSize</key>
                <string>{77,74}</string>
            </dict>
            <key>main_bonus_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{266,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,82}}</string>
                <key>sourceSize</key>
                <string>{266,82}</string>
            </dict>
            <key>main_coin_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,139},{55,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{55,44}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>main_friends_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,146},{190,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,82}}</string>
                <key>sourceSize</key>
                <string>{190,82}</string>
            </dict>
            <key>main_lobby.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,224},{57,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,53}}</string>
                <key>sourceSize</key>
                <string>{57,53}</string>
            </dict>
            <key>main_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,143},{230,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,101}}</string>
                <key>sourceSize</key>
                <string>{230,101}</string>
            </dict>
            <key>main_reward_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,61},{213,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,83}}</string>
                <key>sourceSize</key>
                <string>{213,83}</string>
            </dict>
            <key>main_xp_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{325,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,55}}</string>
                <key>sourceSize</key>
                <string>{325,55}</string>
            </dict>
            <key>main_xp_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{259,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,44}}</string>
                <key>sourceSize</key>
                <string>{259,44}</string>
            </dict>
            <key>message.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,211},{57,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,53}}</string>
                <key>sourceSize</key>
                <string>{57,53}</string>
            </dict>
            <key>msg_tip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,266},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>new_slots.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,61},{85,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,104}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>option.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,211},{57,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,53}}</string>
                <key>sourceSize</key>
                <string>{57,53}</string>
            </dict>
            <key>preview.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,139},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>trophy.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,224},{57,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,53}}</string>
                <key>sourceSize</key>
                <string>{57,53}</string>
            </dict>
            <key>xp_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,118},{139,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,19}}</string>
                <key>sourceSize</key>
                <string>{139,19}</string>
            </dict>
            <key>xp_progress_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,90},{145,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,26}}</string>
                <key>sourceSize</key>
                <string>{145,26}</string>
            </dict>
            <key>xp_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,266},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main_sceen.png</string>
            <key>size</key>
            <string>{1011,306}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4e3ffd34a5005c935cffd40adfda3df:1/1$</string>
            <key>textureFileName</key>
            <string>main_sceen.png</string>
        </dict>
    </dict>
</plist>
