<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coin_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,305},{102,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,96}}</string>
                <key>sourceSize</key>
                <string>{102,96}</string>
            </dict>
            <key>hat_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,352},{120,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,110}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>reward_hat.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,273},{199,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,269}}</string>
                <key>sourceSize</key>
                <string>{199,269}</string>
            </dict>
            <key>reward_lucky.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{199,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,269}}</string>
                <key>sourceSize</key>
                <string>{199,269}</string>
            </dict>
            <key>reward_tickets.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,273},{108,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,30}}</string>
                <key>sourceSize</key>
                <string>{108,30}</string>
            </dict>
            <key>reward_treasure.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,2},{199,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,269}}</string>
                <key>sourceSize</key>
                <string>{199,269}</string>
            </dict>
            <key>treasure_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,352},{144,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,134}}</string>
                <key>sourceSize</key>
                <string>{144,134}</string>
            </dict>
            <key>wheel_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{110,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,148}}</string>
                <key>sourceSize</key>
                <string>{110,148}</string>
            </dict>
            <key>wheel_machine.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{341,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,348}}</string>
                <key>sourceSize</key>
                <string>{341,348}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>reward.png</string>
            <key>size</key>
            <string>{747,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f92a8a6a11d714f9880debc114ec7630$</string>
            <key>textureFileName</key>
            <string>reward.png</string>
        </dict>
    </dict>
</plist>
