<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_chat_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,297},{180,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,67}}</string>
                <key>sourceSize</key>
                <string>{180,67}</string>
            </dict>
            <key>btn_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,227},{157,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,45}}</string>
                <key>sourceSize</key>
                <string>{157,45}</string>
            </dict>
            <key>btn_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,474},{159,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,46}}</string>
                <key>sourceSize</key>
                <string>{159,46}</string>
            </dict>
            <key>btn_square.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,508},{104,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,83}}</string>
                <key>sourceSize</key>
                <string>{104,83}</string>
            </dict>
            <key>chat_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,510},{75,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,68}}</string>
                <key>sourceSize</key>
                <string>{75,68}</string>
            </dict>
            <key>default_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,366},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>emoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,433},{75,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,68}}</string>
                <key>sourceSize</key>
                <string>{75,68}</string>
            </dict>
            <key>img_avatar_ph.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,297},{142,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,117}}</string>
                <key>sourceSize</key>
                <string>{142,117}</string>
            </dict>
            <key>img_edit_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,525},{762,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{762,73}}</string>
                <key>sourceSize</key>
                <string>{762,73}</string>
            </dict>
            <key>img_emoji_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,78},{353,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,188}}</string>
                <key>sourceSize</key>
                <string>{353,188}</string>
            </dict>
            <key>img_user_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,78},{147,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,121}}</string>
                <key>sourceSize</key>
                <string>{147,121}</string>
            </dict>
            <key>like.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,366},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>msg_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,432},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>name_edit.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,600},{216,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,37}}</string>
                <key>sourceSize</key>
                <string>{216,37}</string>
            </dict>
            <key>pop_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,386},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>pop_message.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,600},{154,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,27}}</string>
                <key>sourceSize</key>
                <string>{154,27}</string>
            </dict>
            <key>pop_personal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{394,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,27}}</string>
                <key>sourceSize</key>
                <string>{394,27}</string>
            </dict>
            <key>pop_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,268},{274,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,27}}</string>
                <key>sourceSize</key>
                <string>{274,27}</string>
            </dict>
            <key>pop_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{702,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{702,107}}</string>
                <key>sourceSize</key>
                <string>{702,107}</string>
            </dict>
            <key>records_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,2},{493,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,74}}</string>
                <key>sourceSize</key>
                <string>{493,74}</string>
            </dict>
            <key>tab_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,227},{204,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,51}}</string>
                <key>sourceSize</key>
                <string>{204,51}</string>
            </dict>
            <key>tab_btn_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,268},{204,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,51}}</string>
                <key>sourceSize</key>
                <string>{204,51}</string>
            </dict>
            <key>tab_profile.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,629},{204,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,51}}</string>
                <key>sourceSize</key>
                <string>{204,51}</string>
            </dict>
            <key>tab_profile_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,639},{204,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,51}}</string>
                <key>sourceSize</key>
                <string>{204,51}</string>
            </dict>
            <key>tab_records.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,639},{204,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,51}}</string>
                <key>sourceSize</key>
                <string>{204,51}</string>
            </dict>
            <key>tab_records_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,629},{204,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,51}}</string>
                <key>sourceSize</key>
                <string>{204,51}</string>
            </dict>
            <key>tab_view.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{501,412}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{501,412}}</string>
                <key>sourceSize</key>
                <string>{501,412}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scp_social.png</string>
            <key>size</key>
            <string>{1001,692}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:218f0b3a8ff929ee9b592794a05a83e7:1/1$</string>
            <key>textureFileName</key>
            <string>scp_social.png</string>
        </dict>
    </dict>
</plist>
