<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>starlight_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{210,552}}</string>
                <key>offset</key>
                <string>{-4,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{210,552}}</string>
                <key>sourceSize</key>
                <string>{220,640}</string>
            </dict>
            <key>starlight_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{210,552}}</string>
                <key>offset</key>
                <string>{-4,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{210,552}}</string>
                <key>sourceSize</key>
                <string>{220,640}</string>
            </dict>
            <key>starlight_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{220,552}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,552}}</string>
                <key>sourceSize</key>
                <string>{220,640}</string>
            </dict>
            <key>starlight_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{208,558}}</string>
                <key>offset</key>
                <string>{-3,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{208,558}}</string>
                <key>sourceSize</key>
                <string>{220,640}</string>
            </dict>
            <key>starlight_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,558}}</string>
                <key>offset</key>
                <string>{-3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{208,558}}</string>
                <key>sourceSize</key>
                <string>{220,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>starlight.png</string>
            <key>size</key>
            <string>{636,994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c44ab4aad91a9293574771ff72a7fb2$</string>
            <key>textureFileName</key>
            <string>starlight.png</string>
        </dict>
    </dict>
</plist>
